<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js persian ...</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
   
    <div id="app"> 
        
        <h1>{{ mes }}</h1>

        <h1 v-text="mes"></h1>

        <h1 v-html="meshtml"></h1>

        <h1 v-if="mesif">True</h1>

        <h1 v-else="mesif">False</h1>

        <h1 v-else-if="mesif"></h1>

        <h1 v-cloak>{{mes}}</h1>

        <ul>
            <li v-for="number in numbers" v-text="number"></li>
        </ul>

        <input type="text" :placeholder="mes">

        <a v-bind:href="url" :title="newTitle">
            {{url}}
        </a>

        <!-- 
            v-text
            v-html
            v-if
            v-else
            v-else-if
            v-for
            v-on == @
            v-bind == :
            v-model
            v-pre == dont {{}} change in Vue
            v-once == all change in Vue - one time renders
            v-cloak == in style.css code


         -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    
    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
      </script>
    <script src="./app.js"></script>
</body>
</html>