<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js persian ...</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>


    <div id="app">
        <ul>
            <!-- for arrya -->
            <li v-for="task in tasks" v-text="task.body" :class=" [task.complet ?  'completed' : 'dontCompleted'] "
                @click="toggleCompleted(task)">
                <!-- if you want read of data vue : use :class="name " - or want read of css file use :class=" ' name' "-->
            </li>

            <li v-for="task in tasks" v-text="task.body" :class=" {'completed' : task.complet} " @click="task.complet  = !task.complet">
            </li>

        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
    </script>
    <script src="./app.js"></script>
</body>

</html>