<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js persian ...</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
   
    <div id="app">
        <ul>
            <li v-for="plan in plans">
                <plan :plan="plan" @activate="setActive(plan)" :active="activated"></plan>
            </li>
        </ul>
    </div>

    <template id="plan-template">
        <div>
            {{ plan.name }} : ${{plan.price}}
            <button @click="activate" v-if="!isactive">
                    {{ isUpgrade ? 'Upgrade' : 'Downgrade' }}
            </button>
            <button  v-else>
                Disable
        </button>
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    
    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
      </script>
    <script src="./app.js"></script>
</body>
</html>