*{
    margin: 0; padding: 0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: auto;
    padding: 2rem;
    margin-top: 5rem;
    border-bottom: 3px solid gray;
}

.data{
    color: blue;
    border: 2px solid gray;
    padding: 1rem .5rem;
}

[v-cloak]{
    display: none;
}